{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="{% static 'streamapp/style2.css' %}">
        <link rel="shortcut icon" type="image/jpg" href="{% static 'streamapp/titleLogo.jpg'%}">
    </head>

    <body>
    <header>
      <body>
        <div class='center-screen'>
      
          <!-- <img src="{% url 'video_feed' %}"-->
          <!--<img src="{% url 'webcam_feed' %}"> -->
          <img src="{% url 'mask_feed' %}">
          <!--	<img src="{% url 'livecam_feed' %}">--> 
        </div>
      </body>
      
    </header>
  
    <p>2022 &copy; Wear Mask. All Rights Reserved.</p>
    </body>
</html>
